.button {
  background-color: transparent;
  border: 1px solid rgb(0, 0, 0, 0);
  display: flex;
  align-items: center;
  position: relative;
  height: 60px;
  border-radius: 60px;
  padding: 10px 30px;
  overflow: hidden;
  cursor: none;
  .dot {
    background-color: rgb(0, 0, 0);
    position: absolute;
    border-radius: 58px;
    width: 56px;
    height: 56px;
    bottom: 2px;
    left: 2px;
    transition: all linear 240ms;
  }
  &:hover {
    .dot {
      width: 100%;
    }
  }
  .arrow {
    line-height: 0;
  }
  &__text {
    position: relative;
    z-index: 2;
    font-size: 18px;
  }
}
