.card {
  display: block;
  position: relative;
  z-index: 1;
  cursor: none;
  width: 100%;
  max-width: 350px;
  margin-bottom: 60px;
  &__inner {
  }
  &__content {
    position: absolute;
    right: -100%;
    width: 100%;
    padding: 20px;
    bottom: 0;
    .description {
      line-height: 1.5;
      margin-bottom: 15px;
    }
  }
}
