.root-app {
  min-height: 100vh;
}

.circle {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-flow: row;
  justify-content: center;
  border-radius: 200px;
  pointer-events: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  mix-blend-mode: difference;
  background-color: white;
}

.cursorText {
  flex: auto;
  font-size: 14px;
  pointer-events: none;
  margin: auto;
}
