* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.page-wrapper {
  min-height: 100vh;
  background-color: #fff;
}
img {
  max-width: 100%;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.page-title {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 6rem;
    cursor: none;
  }
  h2 {
    font-size: 4rem;
    cursor: none;
  }
  h3 {
    font-size: 3rem;
    cursor: none;
  }
}
.hero-section {
  height: 450px;
  background-color: #f9f9f9;
}
.white {
  color: #fff;
}
