* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.page-wrapper {
  min-height: calc(100vh - 80px);
  background-color: #fff;
}
img {
  max-width: 100%;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.page-title {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 6rem;
    cursor: none;
  }
  h2 {
    font-size: 4rem;
    cursor: none;
  }
  h3 {
    font-size: 3rem;
    cursor: none;
  }
}
.hero-section {
  padding: 120px 0;
  background-color: #f9f9f9;
  position: relative;
  .hero-content {
    flex: 1;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (max-width: 991.98px) {
      width: 100%;
      margin-bottom: 60px;
      .box {
        text-align: center;
      }
      button {
        margin-left: auto;
        margin-right: auto;
      }
    }
    .box {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
      width: 50%;
      flex-basis: 50%;
    }
  }
  .hero-me {
    width: 100%;
    flex-basis: 100%;
    padding-left: 15px;
    padding-right: 15px;
    .me-dev {
      width: 100%;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    @media screen and (min-width: 1200px) {
      width: 50%;
      flex-basis: 50%;
    }
  }
  .hero-me {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    .me-dev,
    svg {
      width: 100%;
      height: 100%;
    }
    @media screen and (max-width: 991.98px) {
      width: 100%;
      .me-dev {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .title {
    margin: 0 0 10px;
    font-size: 3rem;
  }
  .sub-title {
    margin: 0;
    font-size: 1.6rem;
    font-weight: bold;
    color: #27b084;
    text-transform: uppercase;
  }
  .row-hero {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    margin-left: -15px;
    margin-right: -15px;
  }

  .col-content {
    flex: 1;
  }
  @media screen and (max-width: 991.98px) {
    padding: 60px 0;
  }
}
.white {
  color: #fff;
}
.skill-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  .item {
    padding: 10px;
    .item-icon {
      width: 100px;
      height: 100px;
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #f1f1f1;
      border-radius: 50%;
      padding: 10px;
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

// section {
//   min-height: 100vh;
//   padding-top: 100px;
//   padding-bottom: 100px;
//   display: flex;
//   // justify-content: center;
//   // align-items: center;
//   position: relative;
//   scroll-snap-align: start;
//   perspective: 500px;
//   overflow: hidden;
//   > div {
//     // width: 300px;
//     // height: 400px;
//     // position: relative;
//     // max-height: 90vh;
//     // margin: 20px;
//     // background: var(--white);
//     // overflow: hidden;
//   }
//   .section-header {
//     .title {
//       font-size: 2.6rem;
//     }
//   }
// }

.progress {
  width: 5px;
  height: 100%;
  background-color: #000;
}
.progress-bar {
  height: 80vh;
  top: 10vh;
  z-index: 999;
  width: 50px;
  position: fixed;
  right: 50px;
}
// html {
//   scroll-snap-type: y mandatory;
// }
.footer {
  padding: 20px;
  text-align: center;
  background-color: #f1f1f1;
  p {
    margin: 0;
  }
}
